asgiref==3.6.0
beautifulsoup4==4.11.2
bs4==0.0.1
certifi==2022.12.7
charset-normalizer==3.1.0
deprecation==2.1.0
dj-database-url==1.2.0
Django==3.2
docx2txt==0.8
fuzzywuzzy==0.18.0
gunicorn==20.1.0
idna==3.4
img2pdf==0.4.4
lxml==4.9.2
numpy
packaging==23.0
pandas
pdf2image==1.16.3
pdf2jpg==1.1
pikepdf
Pillow==9.4.0
psycopg2==2.9.5
psycopg2-binary==2.9.5
PyPDF2==3.0.1
python-dateutil==2.8.2
pytz==2022.7.1
RaphaelSomaDIT==2.2
requests==2.28.2
six==1.16.0
soupsieve==2.4
sqlparse==0.4.3
typing_extensions==4.5.0
urllib3==1.26.15
whitenoise==6.4.0
wincertstore==0.2
python-Levenshtein
